@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1652786110677') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gerenzhongxinselected:before {
  content: "\e503";
}

.icon-cangpeitubiao_xiazaipandiandanxiazaidayinmoban:before {
  content: "\e623";
}

.icon-huidaodingbu:before {
  content: "\e705";
}

.icon-a-gouwuchegouwu:before {
  content: "\e765";
}

